main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem;
}

.nav-logo {
  width: 160px;
  height: 40px;
  padding: .5rem;
  background-color: #fff;
}

.nav-logo img {
  max-width: 100%;
}

.rating span {
  margin: 0.1rem;
}
